<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    form input {
        width: 100%;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding-left: 10px;
        margin-bottom: 10px;
       
    }
    img{
        height: 40vh;
    }
</style>

<body>
    <h2>Update Movies </h2>
    <% if(user){ %>
        <% if(movie.author.username===user.user){ %>
            <a href="/delete/movie/<%= movie._id %>">Delete this movie</a>
            <% } %>
                <% }else{ %>
                    <a href="/login">Login to delete this movie</a>
                    <% } %><br>
                    image preview: <br><img src="../../upload/<%= movie.image %>" alt="">
                    <form action="/update/movie/<%= movie._id %>" method="post">
                            <input type="text" value="<%= movie.title %>" name="title" placeholder="Title">
                            <input type="text" value="<%= movie.description %>" name="description"
                                placeholder="Description">
                            <input type="submit" value="update">
                    </form>
</body>

</html>